{
    "env": {
        "browser": false,
        "node": true,
        "es6": true
    },
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "extends": [
        "eslint-config-egg/typescript",
        "gaoding"
    ],
    "rules": {
        "no-async-promise-executor": 0,
        "prefer-promise-reject-errors": 0,
        "@typescript-eslint/camelcase": 0,
        "@typescript-eslint/no-var-requires": 0,
        "@typescript-eslint/no-empty-function": 0,
        "@typescript-eslint/no-use-before-define": 0,
        "@typescript-eslint/ban-ts-comment": 0,
        "@typescript-eslint/ban-types": 0,
        "@typescript-eslint/explicit-module-boundary-types": 0,
        "@typescript-eslint/indent": 0,
        "import/order": 1,
        "camelcase": 0,
        "no-bitwise": 0,
        "@typescript-eslint/semi": 0
    }
}